.container {
    .header {
        width: 90%;
        background-color: orange;
        //height: 20rem;
        padding: 1rem;
        text-align: center;
        color: white;
        //background-image: url('../../burung.jpg');

    }
    .section {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    .card {
        margin-top: 1rem;
        background-color: black;
        color: white;
        width: 1rem;
        padding: 1rem;
        text-align: center;
    }
    .section-body-1 {
        background-color: blue;
    }
    .section-body-3 {
        background-color: red;
    }

    .body {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        .body-anak {
            margin: 3rem;
            width: 100%;
            height: 20rem;
            //background-color: green;
        }
        .body-2-anak {
            background-color: green;
        }
    }
}

